.forms {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 28rem;
    background-color: rgb(83, 121, 155);
    height: 60vh;
    border-radius: 20px;
}

.title {
    width: 100%;
    font-size: 50px;
    text-align: center;
}

.forms input {
    width: 19rem;
    height: 2.3rem;
    padding-left: 1rem;
    border-radius: 10px;
}

.forms div p {
    margin-bottom: 0.4rem;
}

.forms button {
    width: 19rem;
}

.message {
    height: 2rem;
    background-color: blue;
}


@media (max-width: 650px) {
    .forms {
        width: 23rem;
        height: 55vh;
    }

    .title {
        text-align: center;
        padding: 0;
    }
}

@media (max-width: 550px) {

    .forms {
        width: 25rem;
        height: 70vh;
        row-gap: 1.5rem;
    }
}

@media (max-width: 430px) {
    .forms {
        width: 19rem;
        height: 55vh;
        row-gap: 1rem;
    }

    .forms input {
        width: 16rem;
    }

    .forms button {
        width: 16rem;
        height: 2.5rem;
    }
}

@media (max-width: 390px) {
    .forms {
        width: 18rem;
        height: 63vh;
        row-gap: 0.5rem;
    }

    .forms .title {
        font-size: 40px;
    }

    .forms input {
        width: 15rem;
    }

    .forms button {
        width: 15rem;
        height: 2.5rem;
    }
}

@media (max-width: 350px) {
    .forms {
        height: 45vh;
    }
}

@media (max-height: 800px) {
    .forms {
        width: 26rem;
        row-gap: 1rem;
    }
}

@media (max-height: 600px) {
    .forms {
        width: 24rem;
        height: 75vh;
        row-gap: 1.3rem;
    }
}

@media (max-height: 500px) {
    .forms {
        row-gap: 0rem;
        width: 17rem;
    }
}