.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    padding: 5rem 6rem 0 6rem;
    color: rgb(230, 230, 230);
    row-gap: 1rem;
}

.container h1{
    font-size: 30px;
    color: rgb(37, 37, 37);
}